
<%= form_for user do |f| %>

<% if user.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>


<% end %>
  <div class="field">
    <%= f.label :name, 'Username:' %><br>
    <%= f.text_field :name, class: 'input_field_center' %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email:' %><br>
    <%= f.text_field :email, class: 'input_field_center' %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password, class: 'input_field_center' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password:'%><br>
    <%= f.password_field :password_confirmation, class: 'input_field_center' %>
  </div>


    <%= radio_button_tag(:admin, false ) %>
    <%= label_tag(:admin, "Regular") %>

    <%= radio_button_tag(:admin, true) %>
    <%= label_tag(:admin, "Admin") %>
  <br>

  <div class="actions">
    <%= f.submit "Create User", class: "form_button" %>
  </div>

<% end %>
